* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 320px - 767px */

ul li {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

.section-menu {
  height: 100vh;
}

nav.menu {
  background-color: steelblue;
}

nav.menu ul li:not(:last-of-type) {
  border-bottom: 2px solid red;
}

/* nav.menu ul li:last-of-type {
  border-bottom: none;
} */

nav.menu {
  display: none;
}

nav.menu ul li a {
  display: block;
  padding: 10px 5px;
}

nav.menu ul li a:hover {
  background-color: #ccc;
  color: #000;
}


#check-menu {
  display: none;
}

#check-menu:checked ~ nav.menu{
  display: block;
}

.fas {
  font-size: 25px;
}

@media only screen and (min-width: 768px) {
  label.icon-bar {
    display: none;
  }
  nav.menu ul {
    display: flex;
    /* justify-content: space-between; */
  }
  nav.menu ul li {
    flex-grow: 1;
    text-align: center;
  }
  nav.menu ul li:not(:last-of-type) {
    border-bottom: none;
    border-right: 1px solid red;
  }
}


/* Positions */

.positions {
  height: 100vh;
  margin: 100px 0;
  
}

.container, .container-relative {
  width: 80%;
  height: 500px;
  border: 3px dotted red;
  margin: 100px auto;
}

.relative {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  background-color: pink;
  position: relative;
  top: -20.5px;
  left: 100px;
}

.container-relative {
  position: relative;
}

.absolute {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  background-color: blue;
  position: absolute;
  top: 100px;
  right: 20px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fixed {
  padding: 20px;
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 100px;
  left: 50px;
}

.fixed i {
  margin: 10px 0;
}

.header {
  height: 100px;
  background-color: peru;
  color: white;
}

.sticky {
  padding: 20px;
  border: 1px solid red;
  display: flex;
  position: sticky;
  top: 20px;
  left: 0;
}

.sticky i  {
  margin: 0 10px;
}

.circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: cyan;
  /* transition-property: background-color, border-radius;
  transition-duration: 3s;
  transition-timing-function: ease;
  transition: all 3s ease; */
  margin-top: 200px;
  animation-name: bounce;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.circle:hover {
  background-color: red;
}



@keyframes bounce {
  0% {
    margin-top: 200px;
    height: 100px;
  }
  100%{
    margin-top: 400px;
    height: 80px;
  }
}

/* 768px - 1023px */
@media only screen and (min-width: 768px) {
  .circle {
    border-radius: unset;
  }
}

/* 1024px  - */
@media only screen and (min-width: 1024px) {
  .circle {
    border-radius: unset;
  }
}


/*  */

.contact, .footer {
  height: 50vh;
}
.contact {
  background-color: cyan;
  position: relative;
}
.footer {
  background-color: peru;
}

.form {
  width: 400px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #ccc;
  box-shadow: 4px 2px 3px 4px rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form-group input {
  border-radius: 5px;
  padding: 5px;
  border: none;
}


.spinner {
  width: 36px;
  height: 36px;
  border: 4px solid #ccc;
  margin: 0 auto;
  border-radius: 50%;
  border-left-color: blue;
  animation-name: spin;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  0% {
    transform: rotate(0deg)
  }
  100% {
    transform: rotate(360deg)
  }
}